
<div class="container">
    <h1>Contacto</h1>
    <input type="color" #prueba_color (click)="capturar()">

    <div #textos>
        <p appResaltado>
            Esta es la pagina de contacto, puedes enviarnos cualquier duda
        </p>
        
    <h2 [ngStyle]="estilo">
        {{prueba}}
        {{color_p}}
    </h2>
    </div>

    
<!--
    Tamaño del slider:
    <input type="number" [(ngModel)]="widthSlider" (keyup.enter)="cargarSlider()">

    <div *ngIf="anchuraToSlider"> 
        <slider [anchura]="anchuraToSlider"
                (conseguirAutor)="getAutor($event)"
        ></slider>
    </div>
    <h4>{{autor.nombre}}</h4>-->
</div>

