<div class="container" *ngIf="project">
    <div class="imagen" *ngIf="project.image">
        <img src="{{url+'get-image/'+project.image}}"/>
    </div>
    <div class="data">
        <h1>{{project.name}}</h1>
        <h3>{{project.description}}</h3>
        <p>{{project.category}}</p>
        <p>{{project.langs}}</p>
        <p *ngIf="confirm == false">
            <a [routerLink]="['/editar-proyecto', project._id]" class="buttonEdit">Editar</a>
            <a (click)="setConfirm(true)" class="buttonDelete">Borrar</a>
        </p>

        <p *ngIf="confirm == true">
                <span class="alerta">¿Estas seguro de elmiminar este proyecto?</span> <br>
                <a (click)="setConfirm(false)" class="buttonEdit">Cancelar</a>
                <a (click)="deleteProject(project._id)" class="buttonDelete">Eliminar definitivamente</a>
            </p>
    </div>
</div>
