/*Importar Fuentes Personaliadaz*/
@font-face{
    font-family: "yanone";
    src: url("fonts/yanone.ttf");
}

@font-face{
    font-family: "finger";
    src: url("fonts/finger.ttf");
}
/*Estilos Generales*/

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "yanone", Arial, Helvetica;
    font-size: 20px;
    background: url(../img/pattern.png);
    background-attachment: fixed;/*para que el fondo se quede bloqueado*/
}
.clearflix{
    float: none;
    clear: both;
}
/*Barra de Navegacion*/

header{
    display: block;
    width: 100%;
    height: 50px;
    background: rgba(29, 94, 216, 0.555);
    position: fixed;
    text-transform: uppercase;
}

header ul{
    display: block;
    width: 40%;
    height: inherit;
    margin: 0px auto;
}

header ul li{
    display: inline-block; /*para que se coloquen uno del lado del otro*/ 
    margin: 0px auto;
    text-align: center;
    line-height: 42px;/*unido al height del header para cambiar tamaño*/
}

header ul li a{
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    height: inherit;
    text-decoration: none;
    color: white;
    transition: all 300ms;
}

header a:hover{
    background:  rgba(53, 73, 95, 0.836);
}
.actived{
    background:  rgba(67, 102, 139, 0.685);
}
/*LOGOTIPO*/
#logo{
    font-family: "finger";
    font-size: 30px;
}

#logo a{
    transition: color 500ms, transform 500ms;
}
#logo a:hover{
    background: transparent;
    color:black;
    transform: scale(1.50,1.50);
}

/*CONTENEDOR PRINCIPAL*/

#content{
    min-height: 500px;
    width: 75%;
    margin: 0px auto;
    box-shadow: 0px 0px 40px black;
    border-left: 1px solid #b7b7b7;
    border-right: 1px solid #b7b7b7;
    background: rgba(255, 255, 255, 0.63);
    padding-top: 120px;
    overflow: hidden;/*para que el contenido se ajuste a la pagina*/
}

/*PIE DE PAGINA*/
footer{
    width: 75%;
    margin: 0px auto;
    padding: 15px;
    color: rgba(0, 0, 0, 0.5)
}

/*SOBRE MI / ABOUT*/
#title{
    width: 70%;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 70px;
    margin-top: 20px;
}
#title h1{
    font-size: 40px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;

}
#title h3{
    font-size: 25px;
    color:#9FA6AE;
    margin-top: 5px;
    margin-bottom: 5px;
}
article.about{
    width: 70%;
    margin: 0px auto;
    margin-bottom: 20px;
    font-size: 20px;
}

.about h3{
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.about p{
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: justify;

}
/*seccion con formulario crear proyecto*/
.container{
    padding: 50px;
    padding-top: 10px;
}
.container h2{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.container .imagen{
    float: left;
    width: 40%;
}

.container .imagen img{
    width: 100%;
}
.container .data{
    float: left;
    width: 40;
    margin-left: 20px;
}

form{
    width: 80%;
}
form label{
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}
form input[type="text"],
form input[type="number"],
form input[type="email"],
form textarea{
    width: 40%;
    padding: 5px;
}
form button,
form input[type="submit"],
.buttonEdit,
.buttonDelete{
    display: block;
    font-size: 17px;
    padding: 5px;
    margin-top: 15px;
    color: white;
    background:  rgb(56, 136, 228);
    border: 1px solid #2D4055;
    cursor: pointer;
}

.buttonEdit,
.buttonDelete{
    width: 50%;
    text-align: center;
    float: left;
    margin-right: 3px;
    text-decoration: none;
}
.buttonEdit{
    background: #039FF3;
    border: none;
}
.buttonDelete{
    background: #D01C32;
    border: none;
}
form input[disabled]{
    opacity: 0.4;
    cursor: not-allowed;
}
form button:hover,
form input[type="submit"]:hover{
    transition: 500ms;
    background:  rgb(36, 68, 105);
    border: 1px solid #2D4055;
}
.form_error{
    padding: 5px;
    background: #D01C32;
    color: white;
    font-size: 15px;
    margin-left: 5px;
}
/*MENSAJES PARA GUARDAR PROYECTO*/
.message{
    font-size: 17px;
    width: 40%;
    padding: 5px;
    border: 1px solid #eee;
}
.success{
    background: #21CA87;
    color: white;
}
.message a{
    color: white;
}
.failed{
    background: #D01C32;
    color: white; 
}

/*PAGINA DE PROYECTOS*/
.project{
    list-style: none;
    display: block;
    float: left;
    width: 20%;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.project .img{
    width: 100%;
    height: 150%;
    overflow: hidden;;
}

.project img{
    width: 100%;
}

.project a{
    text-decoration: none;
    color: black;
}

/*TEXTO ALERTA*/

.alerta{

    background: yellow;
    padding-left: 5px;
    padding-right: 5px;
  
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
  
  @-moz-keyframes parpadeo{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  @-webkit-keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
     100% { opacity: 1.0; }
  }
  
  @keyframes parpadeo {  
    0% { opacity: 1.0; }
     50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }